.about {
	background: url('@img/about/mobil_about_bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@media (min-width:$mobile){
		background: url('@img/about/tablet_about_bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	@media (min-width:$tablet){
		background: url('@img/about/about_bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 102%;
	}	
	&__body {
		padding: toRem(54) 0 toRem(36) 0;
		position: relative;
		@media (min-width:$mobile){
			padding: toRem(86) 0 toRem(30) 0;
		}
		@media (min-width:$tablet){
			padding: toRem(108) 0 toRem(19) 0;
		}
		&::after {
			content: '';
			position: absolute;
			width: toRem(245);
			height: toRem(2);			
			background-color: #645766;
			bottom: toRem(12);
			left:50%;
			transform:translate(-50%, -50%); 
			@media (min-width:$mobile) {
				width: 72%;
				bottom: toRem(9);
			}
			@media (min-width:$tablet) {
				width: toRem(780);
				bottom: toRem(4);
			}
		}
	}
	&__title {
		font-weight: 700;
		font-size: toRem(36);
		line-height: toRem(48);
		text-align: center;
		margin-bottom: toRem(53);
		@media (min-width:$mobile) {
			font-size: toRem(42);
			line-height: toRem(44);
			margin-bottom: toRem(85);
		}
		@media (min-width:$tablet) {
			font-size: toRem(48);
			line-height: toRem(50);
			margin-bottom: toRem(75);
		}
	}
	&__desc {
		font-family: 'Lato';
		font-style: normal;
		line-height: toRem(21);
		text-align: center;
		color: $colorLightVioletA29;
		margin-top: toRem(29);
		padding: 0 toRem(22);
		@media (min-width:$mobile) {
			margin-top: toRem(61);
		}
		@media (min-width:$tablet) {
			margin-top: toRem(112);
		}
	}
}
.review-about {
	@include flex-center-column;
	@media (min-width:$mobile) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		font-family: 'Lato';
		font-style: italic;
		font-weight: 700;
		font-size: toRem(16);
		line-height: toRem(24);
		text-align: center;
		margin-bottom: toRem(38);
		@media (min-width:$mobile) {
			flex: 0 1 45%;
		}
		@media (min-width:$tablet) {
			flex: 0 1 29%;
		}
		&:first-child {
			@media (min-width:$tablet) {
				margin-bottom: toRem(6);
			}
		}
		&:nth-child(2) {
			@media (min-width:$tablet) {
				margin-bottom: toRem(6);
			}
		}
		&:nth-child(3) {
			@media (min-width:$mobile) {
				margin-bottom: toRem(16);
			}
			@media (min-width:$tablet) {
				margin-bottom: toRem(12);
			}
		}
		&:nth-child(4) {
			@media (min-width:$tablet) {
				margin-top: toRem(40);
				margin-bottom: 0;
			}
		}
		&:nth-child(5) {
			@media (min-width:$mobile) {
				margin-top: toRem(13);
				margin-bottom: 0;
			}
			@media (min-width:$tablet) {
				margin-top: toRem(88);
			}
		}		
		&:last-child{
			margin-bottom: 0;
			@media (min-width:$tablet) {
				margin-top: toRem(84);
			}
		}
	}
}
.item-review {
	&:first-child &__text{
		padding: toRem(27) toRem(8) 0 toRem(9);		
	}
	&:nth-child(2) &__text{
		padding: toRem(20) toRem(20) 0 toRem(6);
		@media (min-width:$mobile){
			padding: toRem(22) toRem(5) 0 toRem(6);
		}
	}
	&:nth-child(3) &__text{
		padding: toRem(15) toRem(20) 0 toRem(21);
		@media (min-width:$mobile) {
			padding: toRem(16) toRem(20) 0 toRem(21);
		}
		@media (min-width:$tablet) {
			padding: toRem(16) toRem(17) 0 toRem(17);
		}
	}
	&:nth-child(3) &__text span{
		text-align: center;
		padding: 0 toRem(22) 0 toRem(22);
		display: block;
		@media (min-width:$mobile) {
			padding: 0;
			display: inline;
		}
	}
	&:nth-child(4) &__text{
		padding: toRem(27) toRem(9) 0 toRem(10);
		@media (min-width:$mobile){
			padding: toRem(29) toRem(9) 0 toRem(10)
		}
	}
	&:nth-child(4) &__image {
		@media (min-width:$mobile){
			margin-top: toRem(40);
		}
	}
	&:nth-child(5) &__text{
		padding: toRem(41) toRem(5) toRem(4) toRem(5);
		@media (min-width:$mobile){
			padding: toRem(18) toRem(5) toRem(4) toRem(5);			
		}
	}
	&:last-child &__text{
		padding: toRem(19) toRem(26) 0 toRem(26);
		@media (min-width:$mobile) {
			padding: toRem(19) toRem(9) 0 toRem(9);
		}
		@media (min-width:$tablet) {
			padding: toRem(19) toRem(10) 0 toRem(10);
		}
	}
	&:last-child span{
		text-align: center;
		padding: 0 toRem(10) 0 toRem(10);
		display: block;
		@media (min-width:$mobile) {
			padding: 0;
			display: inline;
		}
	}	
}
