.editor {
	&__container {
		text-align: center;
		padding: toRem(50) 0 toRem(78) 0;

		@media (min-width: $mobile){
			padding: toRem(88) 0 toRem(98) 0;
		}

		@media (min-width: $tablet){
			padding: toRem(0) 0 toRem(70) 0;
		}
	}	

	&__title {
		font-weight: 700;
		font-size: toRem(26);
		line-height: toRem(28);
		padding: 0 toRem(20);
		color: $colorDarkenViolet63;
		text-transform: uppercase;

		@media (min-width: $mobile){
			font-size: toRem(42);
			line-height: toRem(42);
		}

		@media (min-width: $tablet){
			font-size: toRem(54);
			line-height: toRem(54);
		}
	}

	&__desc {
		margin-top: toRem(25);
		padding: 0 toRem(14);
		font-family: Lato;
		color: $colorDarkGrey32;
		line-height: toRem(20);

		@media (min-width: $mobile){
			max-width: 729px;
			margin: toRem(25) auto 0 auto;
			font-size: toRem(21);
			padding: 0 toRem(20);
			line-height: toRem(32);
		}

		@media (min-width: $tablet) {
			max-width: toRem(893);
		}
	}
}

.github {
		@include flex-center;
		flex-wrap: wrap;
		gap: toRem(10);
		margin-top: toRem(35);
		padding: 0 toRem(36);
	
	&__item {
		color: #c9d1d9;
		font-size: toRem(11);
		font-weight: 700;
		color: black;
	}
}

.item-github {
	@include flex-center;
	flex: 0 1 46%;

	@media (min-width: $mobile){
		flex: 0 1 auto;
		justify-content: center;
	}

	&__link {
		@include flex-center;
		border: 1px solid rgba(27, 31, 36, 0.15);
		padding: toRem(4) toRem(9);
		border-top-left-radius: toRem(6);
		border-bottom-left-radius: toRem(6);
		background-color: rgba(27, 31, 36, 0.07);
		& span {
			padding-left: toRem(3);
		}
	}

	&__amount {
		padding: toRem(6) toRem(9);
		border: 1px solid rgba(27, 31, 36, 0.15);
		border-left: none;
		border-top-right-radius: toRem(6);
		border-bottom-right-radius: toRem(6);
	}
}
