.header {
	background-image: url('@img/header/bg_header.jpg');
	background-repeat: no-repeat;
	background-position: center toRem(-29);
	position: relative;

	@media (min-width:$mobile){
		background-position: center toRem(5);
	}
	@media (min-width:$tablet){
		background-position: center top;
	}
	@media (min-width:$pc){
		background-size:100% 86%;
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 13%;
		background-color: #27262A;
		z-index:2;
		@media (min-width:$mobile){
			height: 13.6%;
		}
		@media (min-width:$tablet){
			display: none;
		}
	}
	&::after {
		position: absolute;
		content: "";
		background-color: $mainColor;
		height: 10%;
		width: 100%;
		bottom: 0;
		z-index: 2;		

		@media (min-width:$mobile){
			display: none;
		}
	}
	
	&__wrapper {
		@include flex-space-between;
		padding: toRem(30) 0;
		position: relative;	
		z-index: 3;	
		@media (min-width:$mobile){
			padding: toRem(22) 0 toRem(55) 0;
		}
		@media (min-width:$tablet){
			padding: toRem(29.5) 0;
		}
	}

	&__btn {
		font-weight: 700;
		font-size: toRem(15);
		line-height: toRem(15);
		text-align: center;
		color: inherit;
		font-family: inherit;
		background-color: $colorMainViolet8D;
		padding: toRem(11) toRem(24.5);
		border-radius: toRem(40);
		cursor: pointer;
		transition: all .3s ease 0s;
		&:hover {
			color: $colorMainViolet8D;
			background-color: $mainColor;
		}
		@media (min-width:$mobile){
			font-size: toRem(16);
			line-height: toRem(16);
			padding: toRem(11) toRem(34.5);
		}
		@media (min-width:$tablet){
			display: flex;
			justify-content: center;
			order: 2;
			margin-left: toRem(38);
			line-height: toRem(17);
			padding: toRem(11) toRem(20);
			flex: 0 1 15.92%;    
		}
	}
}
.logo {
	&:hover &__icon-fill {
		fill: $mainColor;
	} 
	&:hover &__title {
		color: $mainColor;
	} 
	@media (min-width:$mobile){
		@include flex-center;
	}
	&__icon {		
		height: 100%;
		width: toRem(43);
		@media (min-width:$mobile){			
			padding-right: toRem(17);
			width: toRem(60);
		}
	}
	&__icon-fill {
		fill: $colorMainViolet8D;
		transition: all .3s ease 0s;
	}
	&__title {
		display: none;
		transition: all .3s ease 0s;
		@media (min-width:$mobile){
			display: block;
			color: $colorMainViolet8D;
			font-weight: 700;
			font-size: toRem(24);
			line-height: toRem(16);
			text-transform: uppercase;
			padding-top: toRem(12);
		}
	}
}
.burger {
	position: relative;
	width: toRem(26);
	height: toRem(21);
	display: flex;
	flex-direction: column;
	gap: toRem(6);
	@media (min-width:$mobile) {
		display: none;
	}
	&__line,
	&::before,
	&:after {
		content: '';
		background-color: $mainColor;
		border-radius: toRem(5);
		width: 100%;
		height: toRem(3);
		transition: all .3s ease 0s;
		position: relative;
	}
	&::before {
		margin-left: auto;
		width: 58%;
  }
  &.burger--active {

	.burger__line {
		opacity: 0;
	}

	&::before {
		 width: 100%;
		 transform: rotate(-45deg) translate(0px, -50%);
		 top: 49%;
	}

	&::after {
		transform: rotate(45deg) translate(0px, 50%);
		bottom: 49%;
	}
}

}
.menu {
	position: absolute;
   width: 100%;
   background-color: #333333;
   top: toRem(103);
   z-index: 5; 
	right: -110%;
	transition: right .5s ease 0s;
	@media (min-width:$mobile){
		right: 0;
		background-color: transparent;
		top: toRem(85);
	}
	@media (min-width:$tablet){
		position: static;
		display: flex;
		justify-content: end;
		align-items: center;
		order: 1;
	}
	&.menu--active {
		right: 0;
  }

	&__list {
		display: flex;
      flex-direction: column;
      padding-bottom: toRem(14);
		@media (min-width:$mobile) {
			flex-direction: row;
			justify-content: center;
			padding: 0;
		}
	}

	&__item {
		
		@media (min-width:$mobile){
			&:not(:last-child){
				padding-right: 6%;
			}
			&:hover .menu__link {
				color: $mainColor;
			}
		}
		@media (min-width:$tablet){
			&:not(:last-child){
				padding-right: toRem(48);
			}
		}
	}

	&__link {
		display: inline-block;
      width: 100%;
      font-size: toRem(26);
		line-height: toRem(26);
      padding: toRem(35) toRem(5) toRem(30) toRem(33);
      position: relative;
      transition: color .3s;
	
		@media (min-width:$mobile){
			font-size: toRem(16);
			line-height: toRem(18);
			font-weight: 700;
			color: $colorMainViolet8D;
			padding: 0;
			transition: all .3s ease 0s;
		}
		@media (min-width:$tablet){
			line-height: toRem(15);
			}
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 0;
			height: 58%;
			background-color: $colorMainViolet8D;
			transition: width .3s;
			@media (min-width:$mobile){
				display: none;
			}
	  }

	  &:hover {
			color: $colorMainViolet8D;

			&::before {
				 width: toRem(8);
				 @media (min-width:$mobile){
					display: none;
				 }
			}
	  }

	  &::after {
			content: '';
			position: absolute;
			height: toRem(3);
			width: 100%;
			bottom: 0;
			left: 0;
			background-color: #3B3B3B;
			@media (min-width:$mobile){
				display: none;
			}
	  }
 }
}
.fork {
	@include flex-center-column;
	padding: toRem(51) 0 toRem(22) 0;
	position: relative;
	@media (min-width:$mobile){
		padding: toRem(69) 0 toRem(6) 0;
	}
	@media (min-width:$tablet){
		padding: toRem(83) 0 toRem(66) 0;
	}
}
.content-fork {
	margin-bottom: toRem(396);

	@media (min-width:$mobile){
		margin-bottom: toRem(430);
	}
	@media (min-width:$tablet){
		margin-bottom: toRem(418);
	}
	&__title {
		font-weight: 700;
		font-size: toRem(48);
		line-height: toRem(48);
		text-align: center;
		margin-bottom: toRem(19);

		@media (min-width:$mobile){
			font-size: toRem(72);
			line-height: toRem(72);
		}
		@media (min-width:$tablet){
			font-size: toRem(82);
			line-height: toRem(82);
		}
	}

	&__subtitle {
		font-size: toRem(18);
		line-height: toRem(24);
		text-align: center;
		color: $colorMainViolet8D;
		margin-bottom: toRem(14);
		@media (min-width:$mobile){
			font-size: toRem(24);
			margin-bottom: toRem(19);
		}
		@media (min-width:$tablet){
			font-size: toRem(30);
			line-height: toRem(30);
		}
	}

	&__desc {
		line-height: toRem(14);
		text-transform: uppercase;
		text-align: center;
		color: $colorGrey84;

		@media (min-width:$tablet){
			font-size: toRem(16);
			line-height: toRem(16);
		}
	}
}
.free-fork {
	position: relative;
	z-index: 5;
	@media (min-width:$mobile) {
		top: toRem(-15);
	}
	@media (min-width:toRem(703)){
		top: toRem(5);
	}
	@media (min-width:$maxWidthContainer) {
		top: 0;
	}
	&__btn {
		font-weight: 700;
		font-size: toRem(18);
		line-height: toRem(20);
		text-align: center;
		color: inherit;
		font-family: inherit;
		background-color: $colorMainViolet8D;
		padding: toRem(11) toRem(34);
		border-radius: toRem(40);
		cursor: pointer;
		margin-bottom: toRem(20);		
		transition: all .3s ease 0s;
		border: 2px solid $colorMainViolet8D;
		&:hover {
			color: $colorMainViolet8D;
			background-color: $mainColor;
		}

		@media (min-width:$mobile){
			font-size: toRem(21);
			line-height: toRem(23);
			padding: toRem(17.5) toRem(60.5);
			margin-bottom: toRem(19);
		}
		@media (min-width:$tablet){
			line-height: toRem(22);
			padding: toRem(18) toRem(60.5);			
		}
	
	}

	&__decs {
		color: $colorGrey84;
		text-align: center;
		line-height: toRem(14);

		@media (min-width:$mobile){
			line-height: toRem(16);
		}
		@media (min-width:$tablet){
			line-height: toRem(15);
		}
	}
}
