.offer {
	position: relative;
	@media (min-width: $tablet){
		background-color: $colorOfferBackground;
	}
	&__container {
		@media (min-width: $tablet){
			padding: toRem(95) 0 toRem(44) 0;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		@media (min-width: $tablet){
			flex-direction: row;
			justify-content: space-between;
			position: relative;
		}
	}


	&__title {
		color: $colorMainViolet8D;
		font-size: toRem(32);
		line-height: toRem(38);
		text-align: center;
		font-weight: 700;
		margin: toRem(32) auto toRem(36) auto;

		@media(min-width: $mobile){
			font-size: toRem(42);
			line-height: toRem(44);
			margin: toRem(59) auto toRem(55) auto;
		}
		
		@media (min-width: $tablet){
			display: flex;
			align-self:flex-start;
			position: relative;
			order: 2;
			font-size: toRem(48);
			margin: 0 auto;
			position: absolute;
			right: 0;
			top: toRem(15);
		}
	}

	&__cards {
		@include flex-center-column;
		@media (min-width: $tablet){
			justify-content: start;
			flex: 0 1 42%;
		}
	}
}

.editor-offer {
	padding-bottom: 74%;
	right: toRem(-10);
	bottom: 0;
	@media (min-width: $tablet){
		position: absolute;
		bottom: toRem(-20);
		right: toRem(-100);
		padding: 0;
		& img {
			position: relative;
		}
	}
}


.offer-card {
	@include flex-center-column;
	text-align: center;
	padding: 0 toRem(15);
	&:not(:first-child){
		margin-top: toRem(37);
	}
	&:last-child{
		margin-bottom: toRem(58);
	}

	@media (min-width: $mobile){
		flex-direction: row;
		text-align: left;
		max-width: toRem(730);
		&:not(:first-child){
			margin-top: toRem(55);
		}
		&:last-child{
			margin-bottom: toRem(73);
		}
	}

	@media (min-width: $tablet){
		&:not(:first-child){
			margin-top: toRem(30);
		}
		&:last-child{
			margin-bottom: toRem(0);
		}
	}

	&__image {
		display: flex;
		justify-content: center;
		@media (min-width: $mobile){
			min-width: 22%;;
		}
		@media (min-width: $tablet){
			min-width: 27%;
		}
	}

	&__content {
		margin-top: toRem(25);
		@media (min-width: $mobile){
			max-width: 88%;
			margin-left: toRem(20);
			margin-top: toRem(10);
		}
		@media (min-width: $tablet){
			
		}
	}

	&__title {
		font-size: toRem(16);
		color: $colorDarkGrey32;
	}

	&__desc {
		margin-top: toRem(14);
		font-family: Lato;
		line-height: toRem(21);
		color: $colorGrey84;
		@media (min-width:$mobile){
			margin-top: toRem(16);
		}
	}
}

