.price {
	background-image: url("@img/price/price_bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.price {

	&__container {
		padding-bottom: toRem(12);
		@media (min-width: toRem(594)){
			padding-bottom: toRem(95);
		}
	}

	&__title {
		font-weight: 700;
		font-size: toRem(28);
		line-height: toRem(42);
		text-align: center;
		padding-bottom: toRem(32);
		@media (min-width: $mobile){
			font-size: toRem(42);
			line-height: toRem(44);
			padding: toRem(79) 0 toRem(39) 0;
		}
		@media (min-width: $pc){
			font-size: toRem(48);
			line-height: toRem(50);
			padding: toRem(114) 0 toRem(61) 0;
		}
	}

	&__cards {
		@include flex-center-column;
		gap: toRem(18);
		@media (min-width:$mobile){
			flex-direction: row;
			flex-wrap: wrap;
			gap: toRem(25);
		}
		@media (min-width:$pc){
			gap: toRem(15);
		}
	}
}

.cards__item:first-child{
	.item-card__price{
		& span {
			padding-bottom: toRem(88);
		}
	}
}

.item-card {
	text-transform: uppercase;
	text-align: center;
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: toRem(257);
		height: toRem(97);
		font-size: toRem(24);
		background-color: rgba(255, 255, 255, .06);
	}

	&__body {
		width: toRem(257);
		height: toRem(360);
		background-color: rgba(255, 255, 255, .11);
	}

	&__price {
		font-weight: 700;
		font-size: toRem(60);
		padding-top: toRem(30);
		& span {
			font-weight: 400;
			font-size: toRem(14);
			display: block;
			padding-top: toRem(20);
			padding-bottom: toRem(73);
			position: relative;
			&::before{
				content: "";
				width: toRem(60);
				height: toRem(5);
				background-color: $colorMainViolet8D;
				position: absolute;
				top: toRem(70);
				left: toRem(98);
			}
		}
	}

	&__desc {
		font-size: toRem(16);
		text-transform: none;
		text-align: center;
		line-height: toRem(28);
		@media (min-width: $mobile){
			line-height: toRem(18);
		}
	}

	&__button {
		width: toRem(160);
		height: toRem(42);
		background-color: rgba(255, 255, 255, .15);
		font-size: toRem(15);
		border-radius: toRem(30);
		text-transform: inherit;
		color: inherit;
		font-family: inherit;
		cursor: pointer;
		margin-top: toRem(39);
	}

	@media (min-width: toRem(594)){
		&:last-child{
			margin-right: toRem(40);
		}
	}
	@media (min-width: $pc){
		&:last-child{
			margin: 0;
		}
	}
}


.card-header--active {
	width: toRem(299);
	height: toRem(111);
	background-color: rgba(0, 0, 0, .11);
}

.card-body--active {
	width: toRem(299);
	height: toRem(449);
	background-color: rgba(70, 48, 72, .84);
}
.card-price--active {
padding-top: toRem(14);
	& span {
		padding-bottom: toRem(91);
		&::before {
			top: toRem(73);
			left: toRem(120);
		}
	}
}
.card-desc--active {
	padding-bottom: toRem(85);
}
.card-button--active {
	width: toRem(190);
	height: toRem(52);
	margin-top: 0;
}


